<?xml version="1.0"?>
<configuration>
  <location path="servicestack">
    <system.web>
      <httpHandlers>
        <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
      </httpHandlers>
    </system.web>

    <!-- ServiceStack: Required for IIS7 IntegratedMode -->
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <handlers>
        <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
      </handlers>
    </system.webServer>
  </location>
  <!-- ServiceStack: Required for MONO -->
  <system.web>
    <httpHandlers>
      <add path="servicestack*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  <!-- ServiceStack: Required for IIS7 IntegratedMode -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>